<footer class="footer">
				<hr>
        <p class="pull-right"><a href="#"></a></p>
        <p>Built in SF by <a href="http://twitter.com/davjphillips" target="_blank">@davjphillips</a> and <a href="http://twitter.com/craiglittle" target="_blank">@craiglittle</a>.</p>
        
      </footer>